

<h2>User info</h2>
<%= attachment_image_tag user,:profile_image,:fill, 63, 63, format:'jpeg',fallback:"no_image.jpg" %>
<table>
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>
<div>
<% if user.id == current_user.id %>
  <%= link_to "EDIT", edit_user_path(user.id) %>
<% else %>
  <%= link_to "EDIT", user_path(current_user.id) %>
<% end %>
</div>

<h2>New book</h2>
<%= form_with model: book, local:true do |f| %>
  <div class="field">
    <label>Title</label>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <label>Option</label>
    <%= f.text_area :body %>
  </div>
  <div class="action">
    <%= f.submit 'Create Book' %>
  </div>
<% end %>
